<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Coding_Problem5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

- 1번째 시도

In [14]:
num = int(input())
def cycle(a):
  whlie True:
  if a < 10 :
    # a뒤에 a를 붙여라
    a = str(a) #"8"
    a = a + a  #"8" + "8" = "88"
    # a와 a를 더해라
    b = int(a[0]) + int(a[1]) # 16
    return (a[1] + str(b)[1])

cycle(num)

8

'86'

- 2번째 시도

In [ ]:
num = int(input())
i = 0 
while True:
# 입력받은 숫자가 10보다 작을 때
  if 10 > num:
    num = num*10
    for i in range(x):
      # 26이면 
      a = str(num) # 문자열로 만들고
      # 26은 2 + 6, 8 
      b = int(a[0]) + int(a[1]) # b = 8
      # 6 + 8, 14
      c = int(a[1]) + b # 6 + 8, c=14
      # 8 + 4, 12
      str(b) + str(c)[1]
      # 4 + 2, 26
      
      
# 10 이상일 떄
  else:

# 사이클 횟수를 기록하는 방법 i = 0, for문?

# break 조건은 num과 같으면 중지

In [2]:
# 문자열만 인덱스 활용가능
a = '26'
a[0]

'2'

In [7]:
num = input()
num*10

5

'5555555555'

- 3번째 시도

In [19]:
num = int(input()) # 88
n = num 
cnt = 0

while True:
  # 88 중 십의자리 8
  a = num//10
  # 88 중 일의자리 8
  b = num%10
  # 둘을 더한 값의 일의 자리
  c = (a+b)%10 # 6
  # 십의 자리 8과 일의자리 6 더한 값을 다시 num으로
  num = (b*10) + c
  cnt = cnt + 1
  if num == n:
    break

print(cnt)

26
4