<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Coding_Problem6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1문제
문제
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

입력
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

- numbers = list(map(int, input().split())) // 입력받은 숫자를 리스트화

In [34]:
n = int(input())
numbers = list(map(int, input().split()))

# 최솟값, 최댓값 어떻게 구했지?
print(min(numbers),max(numbers))

3
1 2 3
1 3

# 2문제
입력
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

출력
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

- a.index(max(a)) // 리스트 a안에 가장큰수의 인덱스를 보고 싶다

In [ ]:
a = []
for i in range(9):
  num = int(input)
  a.append(num)

print(max(a))
print(a.index(max(a))+1)

# 3문제
세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

입력
첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.

출력
첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

- .count("str") 카운트는 문자열 밖에 못센다.

In [59]:
a = int(input())
b = int(input())
c = int(input())
mult = str(a*b*c)
print(mult.count("0"))
print(mult.count("1"))
print(mult.count("2"))
print(mult.count("3"))
print(mult.count("4"))
print(mult.count("5"))
print(mult.count("6"))
print(mult.count("7"))
print(mult.count("8"))
print(mult.count("9"))

100
500
100
6
0
0
0
0
1
0
0
0
0

In [58]:
a = int(input())
b = int(input())
c = int(input())
mult = str(a*b*c)

for i in range(10):
  print(mult.count(str(i)))

100
500
100
6
0
0
0
0
1
0
0
0
5000000