<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Coding_Problem12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

In [ ]:
num = int(input())
mul_list = []
# num = 5 이라면 5*4*3*2*1 ,  120

for i in range(1,num):
  for j in range(2,num+1):
    a=i*j
    mul_list.append(a)

print()

5
1
2
3
4

재귀 함수 : 함수 자기 자신을 호출하는 함수를 말한다

In [ ]:
# 재귀 함수 코드
# 0!=1로 약속하고 n!=n*(n-1)! 

def factorial(n): #  0!=1의 성질을 가지기 때문에 입력받는 수가 0인 경우 1을 출력
    result = 1
    if n > 0 :
        result = n * factorial(n-1)
    return result

n = int(input())
print(factorial(n))

# 만약 n=5 이라면 5 * factorial(4) 를 리턴한다
# factorial(4)는 4 * factorial(3) 를 리턴한다
# factorial(3)은 3 * factorial(2) 를 리턴한다
# factorial(2)는 2* factorial(1)를 리턴한다
# factorial(1)은 1* factorial(0)을 리턴한다
# factorial(0)은 1을 리턴한다
# 합치면 5 * 4 * 3 * 2 * 1 * 1

10
3628800

In [ ]:
# for문 코드

n = int(input())

result = 1  # 글로벌 변수 1 설정, 바뀜
if n > 0:
    for i in range(1, n+1):
        result *= i # 값이 
print(result)

In [ ]:
def factorial(n):
  result = 1
  if n > 0:
    result = n * factorial(n-1)
  return result
  
n = int(input())
factorial(n)

10

3628800

In [ ]:
n = int(input())

result = 1

if n > 0:
  for i in range(1,n+1):
    result *= i
print(result)

10
3628800

피보나치

In [ ]:
# 0-1번째 0, 1, 1  f2 + f1 = f3
# 2-3번째 2, 3, 5, f5 + f4 = f6
# 4-5번째 8, 13, 21, f6 + f7 = f8
del f(6):
  for i in range(n+1):
    if i == 0:
      return 0
    elif i == 1:
      return 1
          
    if n >=2 :
      result = f(n-1) + f(n-2)
  return result

# 6-7번째 34, 55, 89, 
# 8-9번째144, 233, 377, 
# 10-11번째 610, 987, 1597

i += 1

In [ ]:
# 1) 재귀 함수 코드

def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

n = int(input())
print(fibonacci(n))
 
#  fibonacci(0)은 0을 리턴
#  fibonacci(1)은 1을 리턴
#  fibonacci(2)은  fibonacci(1) +  fibonacci(0) 이므로 1을 리턴
#  fibonacci(3)은  fibonacci(2) +  fibonacci(1) 이므로 2를 리턴
#  fibonacci(4)는  fibonacci(3) +  fibonacci(2) 이므로 3를 리턴
#  fibonacci(5)는  fibonacci(4) +  fibonacci(3) 이므로 5를 리턴

5
5

In [ ]:
# 2) for문 코드

n = int(input())

fibonacci = [0, 1]
for i in range(2, n+1):
    num = fibonacci[i-1] + fibonacci[i-2]
    fibonacci.append(num)
print(fibonacci[n])

10
55

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  return fibonacci(n-1) + fibonacci(n-2)

n = int(input())
print(fibonacci(n))

11
89

In [ ]:
n = int(input())
fibonacci = [0,1]

for i in range(2,n+1):
  num = fibonacci[i-1] + fibonacci[i-2]
  fibonacci.append(num)

print(fibonacci[n])

10
55

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [85]:
n = int(input())
a = []
a = sorted(a, )
for i in range(n):
  num = int(input())
  a.append(num)
a

3
3
2
1

[3, 2, 1]

In [100]:
# 내림차순
n = int(input())
m = []
for i in range(n):
  m.append(int(input()))

m.sort()
for j in range(n):
  print(m[j])

4
3
2
1
4
1
2
3
4

In [91]:
# 오름차순
import sys
n = int(input())
m = []
for i in range(n):
  m.append(int(sys.stdin.readline()))

m = sorted(m,reverse=True)
for j in range(n):
  print(m[j])

5
2
3
4
1
5
5
4
3
2
1

In [115]:
n = int(input())
m = []
for i in range(n):
  m.append(int(input()))

sorted(m,reverse=True)
for j in range(n):
  print(m[j])

3
3
2
1
3
2
1

첫째 줄에는 산술평균을 출력한다. 소수점 이하 첫째 자리에서 반올림한 값을 출력한다.

둘째 줄에는 중앙값을 출력한다.

셋째 줄에는 최빈값을 출력한다. 여러 개 있을 때에는 최빈값 중 두 번째로 작은 값을 출력한다.

넷째 줄에는 범위를 출력한다."

In [131]:
import numpy as np
from statistics import *

n = int(input())
a = []
for i in range(n):
  a.append(int(input()))
  
print(np.mean(a))
print(median(a))
print(statistics.mode(a))

3
3
3
1
2.3333333333333335
3

NameError: ignored

In [120]:
describe()

NameError: ignored