<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Wikidocs_Python_1_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#001
화면에 Hello World 문자열을 출력하세요.

In [1]:
print("Hello World")

Hello World

#002
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

# 003
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)


신씨가 소리질렀다. "도둑이야".

In [4]:
print('신씨가 소리질렀다. "도둑이야". ')

신씨가 소리질렀다. "도둑이야".

#004
화면에 "C:\Windows"를 출력하세요.

In [5]:
print("C:\Windows")

C:\Windows

#005 print 탭과 줄바꿈

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [6]:
print("안녕하세요. \n만나서\t\t반갑습니다.") # \n은 줄바꿈 \t는 띄어쓰기 5번

안녕하세요.
만나서		반갑습니다.

#006 print 여러 데이터 출력

print ("오늘은", "일요일")

In [7]:
print("오늘은", "일요일")

오늘은 일요일

#007 sep='  ' 

naver;kakao;sk;samsung

In [11]:
print('naver/kakao/sk/samsung') 
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung
naver/kakao/sk/samsung

#008
naver;kakao;sk;samsung

In [12]:
print('naver','kakao','sk','samsung', sep=';')

naver;kakao;sk;samsung

#009 print 줄바꿈

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [21]:
print('first');print('second')

first
second

In [20]:
print('first',end='');print('second')

firstsecond

In [24]:
#응용
print("나는",end=' ');print('할 수 있다')

나는 할 수 있다

# 010 연산 결과 출력

In [25]:
print(5/3)

1.6666666666666667

--------------

# 011 변수 사용하기

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [31]:
samsung_jusic = 50000
last = samsung_jusic*10
print(last)

500000

#012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

![image.png]()

In [40]:
시가총액 = 29800000000000
현재가 = 50000
per = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

29800000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

# 013 문자열 출력

In [42]:
s = "hello"
t = "python"
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

hello! python

두 변수를 이용하여 아래와 같이 출력해보세요.

In [43]:
print(s+"!", t)

hello! python

#014 파이썬을 이용한 값 계산

2 + 2 * 3

In [44]:
print(2+2*3)

8

#015 type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = "132"

In [46]:
a = "132"
print(type(a))

<class 'str'>

# 016 문자열을 정수로 변환

문자열 '720'를 정수형으로 변환해보세요.

In [49]:
print(int('720'))
num_str = "720"
print(int(num_str))

720
720

# 017 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

In [53]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

# 018 문자열을 실수로 변환

문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [56]:
num = "15.79"
result = float(num)
print(result, type(result))

15.79 <class 'float'>

# 019 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [58]:
year = "2020"
year = int(year)
print(year+1, year+2, year+3)

2021 2022 2023

# 020 파이썬 계산

에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [63]:
달요금 = 48584
총요금 = 달요금 * 36
print(총요금)

1749024

------------

# 021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [66]:
letters = 'python'
print(letters[0], letters[2])

p t

#022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [69]:
license_plate = "24가 2210"
print(license_plate[3:])

 2210
가 2210

#023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

In [82]:
string = "홀짝홀짝홀짝"
print(string[::2]) # 처음부터 끝까지 두칸 간격으로
print(string[::3])
print(string[::4])
print(string[::])

홀홀홀
홀짝
홀홀
홀짝홀짝홀짝

#024 문자열 슬라이싱

In [87]:
string = "PYTHON"
print(string[::-1]) # 0부터 : 끝까지 : 역순으로

NOHTYP

# 025 문자열 치환

In [92]:
phone_number = "010-1111-2222"
phone_number_1 = phone_number.replace('-',' ') # 변수.replace('x','y') x를 y로
print(phone_number_1)

010 1111 2222

# 026 문자열 다루기
01011112222

In [94]:
phone_number = "010-1111-2222"
phone_number_2 = phone_number.replace('-','')
print(phone_number_2)

01011112222

# 027 문자열 다루기

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [98]:
url = "http://sharebook.kr"
split_url = url.split('.')
print(split_url)
print(split_url[-1])

['http://sharebook', 'kr']
kr

# 028 문자열은 immutable

In [101]:
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다

TypeError: ignored

# 029 replace 메서드

In [104]:
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

# 030 replace 메서드

In [108]:
string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다.

abcd

In [107]:
string = 'abcd'
a = string.replace('b', 'B')
print(a)

aBcd