<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Wikidocs_Python_101_130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [ ]:
bool 타입

102
아래 코드의 출력 결과를 예상하라

In [1]:
print(3 == 5)

False

103
아래 코드의 출력 결과를 예상하라

In [2]:
print(3 < 5)

True

104
아래 코드의 결과를 예상하라.

In [3]:
x = 4
print(1 < x < 5)

True

105
아래 코드의 결과를 예상하라.

In [4]:
print ((3 == 3) and (4 != 3))

True

106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

In [5]:
print(3 => 4)

SyntaxError: ignored

107
아래 코드의 출력 결과를 예상하라

In [6]:
if 4 < 3:
    print("Hello World")

108
아래 코드의 출력 결과를 예상하라

In [7]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

109
아래 코드의 출력 결과를 예상하라

In [8]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

110
아래 코드의 출력 결과를 예상하라

In [9]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

111
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

In [11]:
hi = input()
print(hi*2)

안녕하세요
안녕하세요안녕하세요

112
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

In [12]:
num = int(input())
print(num + 10)

30
40

113
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

In [21]:
num = int(input())
if num % 2 ==0:
  print('짝수')
else:
  print('홀수')

30
짝수

114
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [23]:
num = int(input()) + 20
if num <=255:
  print(num)
else:
  print(255)

250
255

115
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [26]:
num = int(input()) - 20
if 0 <= num <= 255:
  print(num)
elif num < 0:
  print(0)
else:
  print(255)

2666
255

116
사용자로부터 입력 받은 시간이 정각인지 판별하라.

In [29]:
num = int(input('현재시각03:'))
if num ==0:
  print('정각입니다')
else:
  print('정각이 아닙니다.')

현재시각03:0
정각입니다

117
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [30]:
fruit = ["사과", "포도", "홍시"]

In [32]:
if input('제일 좋아하는 과일은?') in fruit:
  print('정답입니다')
else:
  print('오답')

제일 좋아하는 과일은?포도
정답입니다

118
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

In [33]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
if input() in warn_investment_list:
  print('투자 경고 종목입니다')
else:
  print('투자 경고 종목이 아닙니다')

Microsoft
투자 경고 종목입니다

119
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [35]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if input('제일 좋아하는 계절은:') in fruit.keys():
  print('정답입니다')

제일 좋아하는 계절은:봄
정답입니다

In [36]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if input('제일 좋아하는 계절은:') in fruit:
  print('정답입니다')

제일 좋아하는 계절은:봄
정답입니다

120
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [38]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if input('제일 좋아하는 과일은:') in fruit.values():
  print('정답입니다')
else:
  print('오답입니다')

제일 좋아하는 과일은:딸기
정답입니다

121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

In [40]:
alpha = input()
if alpha == alpha.lower():
  print(alpha)
else:
  print(alpha.upper())

A
A

In [42]:
alpha = input()
if alpha.islower():
  print(alpha)
else:
  print(alpha.upper())

B
B

122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

![image.png]()

In [45]:
score = int(input())
if score >= 81:
  print("A")
elif 61 <= score <= 80:
  print("B")
elif 41<= score <= 60:
  print("C")
elif 21<= score <= 40:
  print("D")
else:
  print("E")

80
B

123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

![image.png]()

In [51]:
money = input().split() 
if money[1] == '달러':
  print(int(money[0])*1167)
if money[1] == '엔':
  print(int(money[0])*1096)
if money[1] == '유로':
  print(int(money[0])*1268)    
if money[1] == '위안':
  print(int(money[0])*171)

30 달러

TypeError: ignored

In [58]:
환율 = {'달러':1167,
      '엔': 1.096,
      '유로':1268,
      '위안':171}
num, currency = input().split()
print(float(num)*환율[currency],'원')

30 엔
32.88 원

124
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

In [59]:
numbers = input().split()
print(max(numbers))

1 2 3
3

125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

![image.png]()

In [66]:
number = input().split('-')
if int(number[0]) == 11:
  print("SKT")
if int(number[0]) == 16:
  print('KT')
if int(number[0]) == 19:
  print('LGU')
else:
  print('알수없음')

010
알수없음

126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

In [ ]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

In [69]:
주민번호 = input().split('-')[1][0]
if 주민번호 == 1 or 3:
  print("남자")
elif 주민번호 ==2 or 4:
  print("여자")

821010-1635210
남자

128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

![image.png]()

In [71]:
주민번호 = input().split('-')[1][1:2]
if 0 <= int(주민번호) <=8:
  print('서울')
else:
  print('서울이아닙니다')

821010-1635210
서울

129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [ ]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

In [74]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc

{'acc_trade_value': '44549343014.3137',
 'acc_trade_value_24H': '73956673562.8424',
 'closing_price': '27420000',
 'date': '1656299401760',
 'fluctate_24H': '-335000',
 'fluctate_rate_24H': '-1.21',
 'max_price': '27888000',
 'min_price': '27260000',
 'opening_price': '27846000',
 'prev_closing_price': '27846000',
 'units_traded': '1615.93858649',
 'units_traded_24H': '2668.51635265'}

In [80]:
변동폭 = int(btc['max_price'])-int(btc['min_price'])
if 변동폭 + int(btc['opening_price']) > int(btc['max_price']):
  print('상승장')
else:
  print('하락장')

상승장