<a href="https://colab.research.google.com/github/mohyunyang/MyStudy/blob/master/Wikidocs_Python_31_40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 031 문자열 합치기

In [1]:
a = "3"
b = "4"
print(a + b)

34

# 032 문자열 곱하기

In [2]:
print("Hi" * 3)

HiHiHi

#033 문자열 곱하기

화면에 '-'를 80개 출력하세요.

In [3]:
print("-"*80)

--------------------------------------------------------------------------------

# 034 문자열 곱하기

In [10]:
t1 = 'python'
t2 = 'java'

python java python java python java python java

In [14]:
t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

# 035 문자열 출력

In [16]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [21]:
print('이름: ',name1, '나이: ', age1)
print('이름: ',name2, '나이: ', age2)

이름:  김민수 나이:  10
이름:  이철희 나이:  13

#036 문자열 출력

In [26]:
print('이름 : {} 나이: {}'.format(name1, age1))
print('이름 : {} 나이: {}'.format(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

# 037 문자열 출력

파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [28]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 038 컴마 제거하기

In [29]:
상장주식수 = "5,969,782,550"

In [30]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',','')
print(int(컴마제거))

5969782550

#039 문자열 슬라이싱

다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [33]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

# 040 strip 메서드

In [34]:
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [37]:
print(data.strip()) # 좌우의 공백을 제거할 수 있습니다.

삼성전자

In [38]:
data1 = "     엘쥐"
print(data1.strip())

엘쥐